PyYAML>=6.0.1
opencv-python>=4.8.0
numpy>=1.24.0
omegaconf==2.3.0
einops==0.8.0
timm==1.0.11
pillow
pydantic
torch
torchvision
transformers
diffusers
loguru
scikit-image
basicsr @ git+https://github.com/Disty0/BasicSR.git
facexlib
gfpgan
